@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


.home {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 812px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.home .homeu2013dark {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 813px;
  width               : 375px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 812px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .bgwallpaper {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 812px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .bgwallpaper .bgwallpaper2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 812px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .mostviewedcourse {
  background-color    : rgba(255,255,255,0.0);
  top                 : 510px;
  height              : 230px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .mostviewedcourse .mostviewed {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .mostviewedcourse .mostviewed .maisvistas {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.home .homeu2013dark .mostviewedcourse .mostviewedcourse2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : 190px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .mostviewedcourse .mostviewedcourse2 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 190px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .mostviewedcourse .mostviewedcourse2 .group .image2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 190px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .mostviewedcourse .mostviewedcourse2 .darkbar {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 110px;
  height              : 80px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.72;
}
.home .homeu2013dark .mostviewedcourse .mostviewedcourse2 .thedatasciencecourse2019completedata {
  background-color    : rgba(255,255,255,0.0);
  top                 : 123px;
  height              : 32px;
  width               : 248px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .mostviewedcourse .mostviewedcourse2 .thedatasciencecourse2019completedata .carolmattos351cofounderdamasterplano {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.home .homeu2013dark .mostviewedcourse .mostviewedcourse2 .thedatasciencecourse2019completedata .edjresidentenamambanegra {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.home .homeu2013dark .footermenu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 708px;
  height              : 105px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : 78px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .group .bottombarbackground2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 77px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .profile {
  background-color    : rgba(255,255,255,0.0);
  top                 : 43px;
  height              : 21px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 339px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .profile .caminho1292 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 11px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .profile .caminho1293 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .profile .caminho1294 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .profile .caminho1295 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 11px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .wishlist {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 21px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 255px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .wishlist .agrupar2155 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 20px;
  width               : 22px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .wishlist .agrupar2155 .caminho1269 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 19px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .home1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 161px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .home1 .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .home1 .group1 .elipse12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .home1 .icon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 19px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .home1 .icon .home11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .exams {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : 21px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 98px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .onlinecourses {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : 17px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .onlinecourses .ret342ngulo470 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 15px;
  height              : 1px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  border-radius       : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .onlinecourses .ret342ngulo471 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 2px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .footermenu .onlinecourses .ret342ngulo472 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 13px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .iphonexbottombar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 796px;
  height              : 6px;
  width               : 160px;
  position            : absolute;
  margin              : 0;
  left                : 108px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .iphonexbottombar .iphonexbottombar2 {
  background-color    : rgba(114, 125, 138, 1.0);
  top                 : 0px;
  height              : 6px;
  width               : 160px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
}
.home .homeu2013dark .banner {
  background-color    : rgba(255,255,255,0.0);
  top                 : 406px;
  height              : 81px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .banner .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 81px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .banner .group .background4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 81px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .banner .adicionenasualistadedesejososcursosquevoc352quiserfazerdepois {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : 32px;
  width               : 198px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .banner .adicionenasualistadedesejososcursosquevoc352quiserfazerdepois .adicionenasualistadedesejosos {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.home .homeu2013dark .banner .adicionenasualistadedesejososcursosquevoc352quiserfazerdepois .cursosquevoc352quiserfazerdepois {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.home .homeu2013dark .banner .androidui {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 16px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .banner .androidui .seliganisso {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.home .homeu2013dark .courseone {
  background-color    : rgba(255,255,255,0.0);
  top                 : 87px;
  height              : 284px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .courseone .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 260px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .courseone .group .background6 {
  background-color    : rgba(27, 33, 59, 1.0);
  top                 : 1px;
  height              : 258px;
  width               : 337px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .courseone .venhaaprendercomarainhadadiscotecagemnacionalcomfoconamusicabrasileira {
  background-color    : rgba(255,255,255,0.0);
  top                 : 231px;
  height              : 50px;
  width               : 275px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .courseone .venhaaprendercomarainhadadiscotecagemnacionalcomfoconamusicabrasileira .venhaaprendercomarainhada {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 249px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.home .homeu2013dark .courseone .venhaaprendercomarainhadadiscotecagemnacionalcomfoconamusicabrasileira .discotecagemnacionalcomfocona {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 275px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.home .homeu2013dark .courseone .venhaaprendercomarainhadadiscotecagemnacionalcomfoconamusicabrasileira .musicabrasileira {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : auto;
  width               : 129px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.home .homeu2013dark .courseone .softwaredevelopment {
  background-color    : rgba(255,255,255,0.0);
  top                 : 200px;
  height              : 18px;
  width               : 212px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .courseone .softwaredevelopment .cursodedjcomtataogan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 212px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.home .homeu2013dark .courseone .tataoganimage {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 224px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .searchicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 338px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .searchicon .caminho1326 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .pagetitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 28px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .pagetitle .descubracursos {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.home .homeu2013dark .idea1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 417px;
  height              : 54px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
}
.home .homeu2013dark .idea1 .agrupar2310 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 50px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .idea1 .agrupar2310 .caminho1439 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 46px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .idea1 .agrupar2310 .caminho1440 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .idea1 .agrupar2310 .caminho1441 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 2px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .idea1 .agrupar2310 .caminho1442 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 2px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .idea1 .agrupar2310 .caminho1443 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .idea1 .agrupar2310 .caminho1444 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .idea1 .agrupar2310 .caminho1445 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .idea1 .agrupar2310 .caminho1446 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .homeu2013dark .idea1 .agrupar2310 .caminho1447 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 13px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}