@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


.trilha1 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 812px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.trilha1 .tau0301ssiareis {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 813px;
  width               : 375px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 812px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .bgwallpaper {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 812px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .bgwallpaper .bgwallpaper2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 812px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons {
  background-color    : rgba(255,255,255,0.0);
  top                 : 470px;
  height              : 205px;
  width               : 336px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessonthree {
  background-color    : rgba(255,255,255,0.0);
  top                 : 152px;
  height              : 53px;
  width               : 336px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessonthree .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 53px;
  width               : 336px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessonthree .group .rectangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 53px;
  width               : 336px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessonthree .lessonthree2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 19px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessonthree .lessonthree2 .aula3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.trilha1 .tau0301ssiareis .lessons .lessonthree .a30miniutes {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 16px;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 153px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessonthree .a30miniutes .a30minutos {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.trilha1 .tau0301ssiareis .lessons .lessonthree .ellipse {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 284px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessonthree .a86 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 16px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 294px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessonthree .a86 .a861 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.trilha1 .tau0301ssiareis .lessons .lessontwo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 76px;
  height              : 53px;
  width               : 336px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessontwo .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 53px;
  width               : 336px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessontwo .group .rectangle5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 53px;
  width               : 336px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessontwo .lessontwo2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 19px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessontwo .lessontwo2 .aula2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.trilha1 .tau0301ssiareis .lessons .lessontwo .a20miniutes {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 16px;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 153px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessontwo .a20miniutes .a20minutos {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.trilha1 .tau0301ssiareis .lessons .lessontwo .ellipse2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 284px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessontwo .a92 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 16px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 294px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessontwo .a92 .a921 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.trilha1 .tau0301ssiareis .lessons .lessonone {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 53px;
  width               : 336px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessonone .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 53px;
  width               : 336px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessonone .group .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 53px;
  width               : 336px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessonone .lessonone2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 19px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessonone .lessonone2 .aula1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.trilha1 .tau0301ssiareis .lessons .lessonone .a30miniutes2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 16px;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 153px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessonone .a30miniutes2 .a30minutos {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.trilha1 .tau0301ssiareis .lessons .lessonone .ellipse {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 284px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessonone .a862 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 16px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 294px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .lessons .lessonone .a862 .a86 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.trilha1 .tau0301ssiareis .t341ssiareispoderiasimplesmenteserdefinidapelassuascaracter355sticasart355sticascomocompositoraecantoraej341seriasuficienteparaqueseescutassecomaten347343ootrabalhodessaartistanascidaemjacare355h34127anosquefazdohiphopsuaarmacon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 301px;
  height              : 92px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .t341ssiareispoderiasimplesmenteserdefinidapelassuascaracter355sticasart355sticascomocompositoraecantoraej341seriasuficienteparaqueseescutassecomaten347343ootrabalhodessaartistanascidaemjacare355h34127anosquefazdohiphopsuaarmacon .t341ssiareispoderiasimplesmenteserdefinidapelassuas {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.trilha1 .tau0301ssiareis .t341ssiareispoderiasimplesmenteserdefinidapelassuascaracter355sticasart355sticascomocompositoraecantoraej341seriasuficienteparaqueseescutassecomaten347343ootrabalhodessaartistanascidaemjacare355h34127anosquefazdohiphopsuaarmacon .caracter355sticasart355sticascomocompositoraecantoraej341 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.trilha1 .tau0301ssiareis .t341ssiareispoderiasimplesmenteserdefinidapelassuascaracter355sticasart355sticascomocompositoraecantoraej341seriasuficienteparaqueseescutassecomaten347343ootrabalhodessaartistanascidaemjacare355h34127anosquefazdohiphopsuaarmacon .seriasuficienteparaqueseescutassecomaten347343oo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.trilha1 .tau0301ssiareis .t341ssiareispoderiasimplesmenteserdefinidapelassuascaracter355sticasart355sticascomocompositoraecantoraej341seriasuficienteparaqueseescutassecomaten347343ootrabalhodessaartistanascidaemjacare355h34127anosquefazdohiphopsuaarmacon .trabalhodessaartistanascidaemjacare355h34127anosque {
  background-color    : rgba(255,255,255,0.0);
  top                 : 57px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.trilha1 .tau0301ssiareis .t341ssiareispoderiasimplesmenteserdefinidapelassuascaracter355sticasart355sticascomocompositoraecantoraej341seriasuficienteparaqueseescutassecomaten347343ootrabalhodessaartistanascidaemjacare355h34127anosquefazdohiphopsuaarmacon .fazdohiphopsuaarmacontraeafavordomundo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 76px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.trilha1 .tau0301ssiareis .mostviewedcourse {
  background-color    : rgba(255,255,255,0.0);
  top                 : 92px;
  height              : 190px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .mostviewedcourse .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 190px;
  width               : 337px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .mostviewedcourse .group .image2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 190px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .exams {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44px;
  height              : 21px;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .exams .t341ssiareis {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Poppins", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.trilha1 .tau0301ssiareis .statusbars {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 33px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .statusbars .rectangle7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 33px;
  width               : 375px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 708px;
  height              : 105px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : 78px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .group .bottombarbackground2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 77px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .profile {
  background-color    : rgba(255,255,255,0.0);
  top                 : 43px;
  height              : 21px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 339px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .profile .caminho1292 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 11px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .profile .caminho1293 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .profile .caminho1294 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .profile .caminho1295 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 11px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .wishlist {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 21px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 255px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .wishlist .agrupar2155 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 20px;
  width               : 22px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .wishlist .agrupar2155 .caminho1269 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 19px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 161px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .home .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .home .group1 .elipse12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .home .icon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 19px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .home .icon .home1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .exams2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : 21px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 98px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .onlinecourses {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : 17px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .onlinecourses .ret342ngulo470 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 15px;
  height              : 1px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  border-radius       : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .onlinecourses .ret342ngulo471 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 2px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .footermenu .onlinecourses .ret342ngulo472 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 13px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .iphonexbottombar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 796px;
  height              : 6px;
  width               : 160px;
  position            : absolute;
  margin              : 0;
  left                : 108px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trilha1 .tau0301ssiareis .iphonexbottombar .iphonexbottombar2 {
  background-color    : rgba(114, 125, 138, 1.0);
  top                 : 0px;
  height              : 6px;
  width               : 160px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}